<nav
  class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full">

  <div class="mb-2 sm:mb-0 flex flex-row
  ">
    <div class="h-10 w-10 self-center mr-2">
      <img class="h-10 w-10 self-center" src="assets/logo.png" />
    </div>
    <div>
      <a href="" class="text-2xl no-underline text-grey-darkest hover:text-blue-dark font-sans font-bold">Mis
        tareas</a><br>
      <span class="text-xs text-grey-dark">Organizar tu día</span>
    </div>
  </div>

  <div class="sm:mb-0 self-center">
    <button
      class="middle none center mr-4 rounded-lg bg-red-500 py-3 px-6 font-sans text-xs font-bold  text-white shadow-md shadow-red-500/20 transition-all hover:shadow-lg hover:shadow-red-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
      data-ripple-light="true">
      Cerrar sesión
    </button>
  </div>
</nav>
<div class="w-full h-screen bg-gray-100 pt-8">
  <div class="bg-white p-3 max-w-md  mx-auto">
    <div class="text-center">
      <h1 class="text-3xl font-bold">Tus Tareas</h1>
      <div class="mt-4 flex">
        <input class="w-80 border-b-2 border-gray-500 text-black p-3" type="text" placeholder="Agregar nueva tarea"[(ngModel)]="description" name="description"  />
        <button
          class="ml-2 border-2 border-green-500 p-2 text-green-500 hover:text-white hover:bg-green-500 rounded-lg flex" (click)="add()">
          <svg class="h-6 w-6" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
            fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" />
            <circle cx="12" cy="12" r="9" />
            <line x1="9" y1="12" x2="15" y2="12" />
            <line x1="12" y1="9" x2="12" y2="15" />
          </svg>
          <span>Add</span>
        </button>
      </div>
    </div>
    <!--/Add new Task-->
    <div class="mt-8">
      <ul>
        <app-task *ngFor="let task of tasks; let i=index" [task]="task"  (removed)="onRemove(i)"></app-task>
      </ul>
    </div>
    <div class="mt-8">
      <button class="border-2 border-red-500 p-2 text-red-500" (click)="removeDoneTasks()">Eliminar tareas hechas</button>
      <button class="border-2 border-indigo-500 p-2 text-indigo-500 ml-4" (click)="clean()">Reinicializar Lista</button>
    </div>
  </div>
</div>